   /* Styling for the whole body */
body {
    margin: 0px;
    background: linear-gradient(to bottom, #004D98, #DB0030);
}
   
/* Styling for the Whole Header */

.header {
    
    padding: 15px 250px;
}
   
   /* Styling for the top-header divs */
.top-header {
    display: flex;
    justify-content: space-between;
}

.badge {
    height: auto;
    width: 100px;
}

.header-links {
    font-size: 20px;
    display: flex;
    gap: 15px;
}

a {
    color: white;
    text-decoration: none;
}

/* Styling for bottom header */

.bottom-header {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.bottom-left-header {
    max-width: 600px ;
}

.gif {
    width: 600px;
    height: 300px;
}
.opening {
    font-size: 52px;
    color: white;
    margin: 0px;
}

.description {
    font-size: 22px;
    color: white;
}

.heading-button {
    background-color: rgb(0, 153, 255);
    border: 0px;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
}

/* Styling for pics section */
.pic-section {
    padding: 30px 250px;
    padding-bottom: 100px;
    
    color: #EDBB00;
    text-align: center;
}

.pioneers-heading {
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin-bottom: 30px;
}

.pictures {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.player-pics {
    height: 250px;
    width: 450px;
}

.player {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player-description {
    font-size: 16px;
}

/* Styling for quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 250px ;
   
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #999;
}

/* This declaration was taken from Chat GPT with some slight modifications */

blockquote {
    position: relative;
    padding: 20px;
  }
  
  blockquote:before {
    content: "\201C"; /* opening double quotation mark */
    position: absolute;
    top: 10px;
    left: -20px;
    font-size: 60px;
    color: black;
  }
   
  blockquote:after {
    content: "\201D"; /* closing double quotation mark */
    position: absolute;
    bottom: -30px;
    right: -20px;
    font-size: 60px;
    color: black;
  }

  .reference {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
  }